

<div class="site-content">
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card__header">
                        <h4>Informações</h4>
                    </div>
                    <div class="card__content">
                        <form action="Home/Jokenpo">

                            <div class="form-group">
                                <label for="Jogador1">Nome</label>
                                <input type="text" name="Jogador1" id="Jogador1" class="form-control" placeholder="Entre seu nickname...">
                            </div>
                            <div class="form-group">
                                <label for="Rodadas">Jogadas</label>
                                <input type="number" name="Jogadas" id="Jogadas" class="form-control" placeholder="Jogadas...">
                            </div>
                            <div class="form-group form-group--sm">
                                <button type="submit" class="btn btn-primary-inverse btn-lg btn-block">Entrar no jogo</button>
                            </div>
                        </form>
                        <!-- Login Form / End -->

                    </div>
                </div>
                <!-- Login / End -->
            </div>

        </div>
    </div>
</div>
